        <style>
        .background{
            background-image:url("/static/images/devs_background_mobile.png");
        }

        @media(min-width:400px){
            .background{
                background-image:url("/static/images/devs_background_tablet.png");
            }
        }
        @media(min-width:990px){
            .background{
                background-image:url("/static/images/devs_background_desktop.png");
            }
        }
        </style>
        <div class="nav">
            <a href="#"><h1 class="nav_text_dev">HOME </h1></a><h1 class="nav_text_dev noselect inactive">Developers </h1></div>
        <div class="centered_block">
            <div class="container">
                <div id="dev_profiles" class="row">
                    <div class="col-md-6 profile_seperater">
                        <div id="dev_left_profile">
                            <div class="profile_image"><img src="/static/images/consider me seriously.jpg"></div>
                            <h1 class="dev_title">EVIL MASTERMIND </h1>
                            <p class="subtitle">Connor Barker</p>
                            <p class="dev_bio">Insert witty bio here. There are many variations&nbsp;of passages of Lorem Ipsum available,&nbsp;but the majority have suffered alteration in&nbsp;some form, by injected humour. </p>
                        </div>
                    </div>
                    <div class="col-md-6">
                        <div id="dev_right_profile">
                            <div class="profile_image"><img src="/static/images/cry.jpg"></div>
                            <h1 class="dev_title">THAT GUY</h1>
                            <p class="subtitle">Ryan Jiang</p>
                            <p class="dev_bio">Insert witty bio here. There are many variations&nbsp;of passages of Lorem Ipsum available,&nbsp;but the majority have suffered alteration in&nbsp;some form, by injected humour. </p>
                        </div>
                    </div>
                </div>
            </div>
